.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  /*background-color: red;*/
}

.row {
  width:100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 0px;
  margin: 0px;
}

.column.one-third {
  width: 33.3%;
  box-shadow: inset 0 0 0 1px black;
}

.column.one-half {
  width: 50%;
  box-shadow: inset 0 0 0 1px black;
}

.column.one-quarter {
  width: 25%;
  box-shadow: inset 0 0 0 1px black;
}

.column.one-eighth {
  width: 12.5%;
  box-shadow: inset 0 0 0 1px black;
}
