@media screen and (max-width:500px) {
  .alert-info {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }

  img {
    height: auto;
    width: 100%;
    display: block;
    margin: 0;
  }

  ul {
    padding-left: 0;
  }

  li {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
  }

  h1 {
    text-align: center;
  }
}
